header {
	background-color: #2a2f4f;
	height: 50px;
	width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


@media screen and (max-width:850px) {
    header {
        height: 100px;
    }

    nav {
        align-items: center;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
}
